src/deliverator/deliverator.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="deliverator"
  xmlns="http://schemas.xmlsoap.org/wsdl/"
  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
  xmlns:soapbind="http://schemas.xmlsoap.org/wsdl/soap/"
  xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding"
  xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
  xmlns:tns="urn:Deliverator"
  targetNamespace="urn:Deliverator"
  >

  <types>
    <xsd:schema elementFormDefault="qualified" targetNamespace="urn:Deliverator">
    <xsd:element name="QueryExistingRuns">
      <xsd:complexType>
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="1" name="APIKey" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="user" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="metaData" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
    </xsd:element>
    <xsd:element name="QueryExistingRunsOutput">
      <xsd:complexType>
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="1" name="Response" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="RunID" type="xsd:int" />
        </xsd:sequence>
      </xsd:complexType>
    </xsd:element>
    <xsd:element name="SubmitNewRun">
      <xsd:complexType>
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="1" name="APIKey" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="user" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="metaData" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
    </xsd:element>
    <xsd:element name="SubmitNewRunOutput">
      <xsd:complexType>
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="1" name="Response" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="RunID" type="xsd:int" />
        </xsd:sequence>
      </xsd:complexType>
    </xsd:element>
    <xsd:element name="SubmitNewParameterFile">
      <xsd:complexType>
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="1" name="APIKey" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="fileName" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="generatedAt" type="xsd:int" />
          <xsd:element minOccurs="0" maxOccurs="1" name="RunID" type="xsd:int" />
          <xsd:element minOccurs="0" maxOccurs="1" name="metaData" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="pickleObj" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
    </xsd:element>
    <xsd:element name="SubmitNewParameterFileOutput">
      <xsd:complexType>
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="1" name="Response" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
    </xsd:element>
    <xsd:element name="SubmitNewImage">
      <xsd:complexType>
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="1" name="APIKey" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="IMG_src" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Width" type="xsd:float" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Unit" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="ParameterFile" type="xsd:int" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Field1" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Field2" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Field3" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Axis" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Type" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="metaData" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="RunID" type="xsd:int" />
        </xsd:sequence>
      </xsd:complexType>
    </xsd:element>
    <xsd:element name="SubmitNewImageOutput">
      <xsd:complexType>
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="1" name="Response" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
    </xsd:element>
  </xsd:schema>
  </types>

  <message name="QueryExistingRunsInput">
    <part name="parameters" element="tns:QueryExistingRuns"/>
  </message>
  <message name="QueryExistingRunsOutput">
    <part name="parameters" element="tns:QueryExistingRunsOutput"/>
  </message>
  <message name="SubmitNewRunInput">
    <part name="parameters" element="tns:SubmitNewRun"/>
  </message>
  <message name="SubmitNewRunOutput">
    <part name="parameters" element="tns:SubmitNewRunOutput"/>
  </message>
  <message name="SubmitNewParameterFileInput">
    <part name="parameters" element="tns:SubmitNewParameterFile"/>
  </message>
  <message name="SubmitNewParameterFileOutput">
    <part name="parameters" element="tns:SubmitNewParameterFileOutput"/>
  </message>
  <message name="SubmitNewImageInput">
    <part name="parameters" element="tns:SubmitNewImage"/>
  </message>
  <message name="SubmitNewImageOutput">
    <part name="parameters" element="tns:SubmitNewImageOutput"/>
  </message>

  <portType name="deliverator-porttype">
    <operation name="QueryExistingRuns">
        <input message="tns:QueryExistingRunsInput"/>
        <output message="tns:QueryExistingRunsOutput"/>
    </operation>
    <operation name="SubmitNewRun">
        <input message="tns:SubmitNewRunInput"/>
        <output message="tns:SubmitNewRunOutput"/>
    </operation>
    <operation name="SubmitNewParameterFile">
        <input message="tns:SubmitNewParameterFileInput"/>
        <output message="tns:SubmitNewParameterFileOutput"/>
    </operation>
    <operation name="SubmitNewImage">
        <input message="tns:SubmitNewImageInput"/>
        <output message="tns:SubmitNewImageOutput"/>
    </operation>
  </portType>


  <binding name="deliverator-binding" type="tns:deliverator-porttype">
    <soapbind:binding style="document"
      transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="QueryExistingRuns">
        <soap:operation soapAction="QueryExistingRuns"/>
        <input>
        <soap:body
         encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
         namespace="urn:deliverator"
         use="literal"/>
        </input>
        <output>
        <soap:body
         encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
         namespace="urn:deliverator"
         use="literal"/>
        </output>
    </operation>
    <operation name="SubmitNewRun">
        <soap:operation soapAction="SubmitNewRun"/>
        <input>
        <soap:body
         encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
         namespace="urn:deliverator"
         use="literal"/>
        </input>
        <output>
        <soap:body
         encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
         namespace="urn:deliverator"
         use="literal"/>
        </output>
    </operation>
    <operation name="SubmitNewParameterFile">
        <soap:operation soapAction="SubmitNewParameterFile"/>
        <input>
        <soap:body
         encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
         namespace="urn:deliverator"
         use="literal"/>
        </input>
        <output>
        <soap:body
         encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
         namespace="urn:deliverator"
         use="literal"/>
        </output>
    </operation>
    <operation name="SubmitNewImage">
        <soap:operation soapAction="SubmitNewImage"/>
        <input>
        <soap:body
         encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
         namespace="urn:deliverator"
         use="literal"/>
        </input>
        <output>
        <soap:body
         encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
         namespace="urn:deliverator"
         use="literal"/>
        </output>
    </operation>
  </binding>

  <service name="DeliveratorServer">
    <port name="deliverator-port" binding="tns:deliverator-binding">
    <soapbind:address location="http://localhost:8080/DeliveratorMethods"/>
  </port>

  </service>

</definitions>

